
<md-toolbar color="primary" role="header" fxLayout="column" fxflex>
    <span fxflex="80">
      <button md-button routerLink="/"> Recipes List </button>
      <span class="example-spacer"></span>
      <button md-button routerLink="/" routerLinkActive="active" routerLink="/recipes"> Recipes List </button>
      <button md-button routerLink="/" routerLinkActive="active" routerLink="/shopping-list"> Shopping List </button>
      <button md-button (click)="onSaveData()">Save Data</button>
      <button md-button (click)="onFetchData()">Fetch Data</button>
    </span>
</md-toolbar>



