
<md-card>
  <md-card-header>
    <md-card-title> <h1> {{ recipe.name }} </h1> </md-card-title>
    <md-card-subtitle> <h2> {{ recipe.description }} </h2> </md-card-subtitle>
  </md-card-header>
  <img
    [src]="recipe.imagePath"
    alt="{{ recipe.name }}"
    class="img-responsive"
    style="max-height: 300px;">
  <md-card-content>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </md-card-content>
  <md-card-actions>
    <div class="row">
      <div class="col-xs-12">
        <button md-raised-button color="primary" [mdMenuTriggerFor]="menu">Manage Recipe</button>
        <md-menu #menu="mdMenu">
          <button md-menu-item (click)="onAddToShoppingList()">To Shopping List</button>
          <button md-menu-item (click)="onEditRecipe()">Edit Recipe</button>
          <button md-menu-item (click)="onDeleteRecipe()">Delete Recipe</button>
        </md-menu>
      </div>
    </div>
  </md-card-actions>
</md-card>
